html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-weight: 500;
  color: black;
}
body {
  background-color: teal;
  background-image: url(imgs/cardboard-city.png);
  background-size: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
}

/* GRID AREA NAMES */
.header-card { grid-area: header; }
.nav-card { grid-area: nav; }
.main-card { grid-area: main; }
.right-margin { grid-area: right; }
.footer-card { grid-area: footer; }

/* GRID LAYOUT */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header'
    'nav main main main main'
    'footer footer footer footer footer';
  column-gap: 1em;
  row-gap: 1em;
}

/* GLOBAL: HEADER STYLES */
.header-card {
  color: white;
  background-image: url(imgs/greenwool.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
}
/* GLOBAL: LINK STYLES */
a { color: black; }
a:hover { color: turquoise; }
button { background-color: coral; }

nav {
  background-color: rgba(175, 238, 238, .4);
}

main {
  background-color: rgba(175, 238, 238, .4);
}

footer {
  background-color: rgba(175, 238, 238, .4);
}