/*
  Joshua Gregory
  Professor Montgomery
  Internet Programming
  Project Site CSS File
*/
html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-weight: 700;
  color: black;
}
body {
  background-color: teal;
  background-image: url(imgs/cardboard-city.png);
  background-size: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
}

/* GRID AREA NAMES */
.header-card { grid-area: header; }
.nav-card { grid-area: nav; }
.main-card { grid-area: main; }
.right-margin { grid-area: right; }
.footer-card { grid-area: footer; }

/* GRID LAYOUT */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header'
    'nav main main main main'
    'nav footer footer footer footer';
  column-gap: 1em;
  row-gap: 1em;
}

/* GLOBAL: BORDERS, TEXT, BG-COLORS */
header, main, footer { border: 1px solid salmon; }
main, footer { background-color: rgba(175, 238, 238, .4); }
h2, h5, p, ol, ul, li { color: black; }
h1 { color: white; padding: 1.5em; }

/* GLOBAL: BUTTONS & LINKS */
button:hover { background-color: salmon; }
button { 
  border: 1px solid black; 
  border-radius: 15%;
  padding-top: .25em; 
  padding-bottom: .25em;
}
a { 
  color: black; 
  text-decoration: underline overline;
}
a:hover { 
  color: turquoise; 
  text-decoration-color: yellow;
}

/* GLOBAL: HEADER STYLES */
.header-card {
  color: white;
  background-image: url(imgs/greenwool.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

/* GLOBAL: NAV TBL STYLES */
td:hover { background-color: salmon; }
.nav-tbl {
  border-collapse: collapse;
  background-color: rgba(175, 238, 238, .4);
}
table, th, td {
  border: 1px solid white;
  padding: 1em;
}

/* GLOBAL: MAIN & NAV STYLES */
.main-card {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/* page1.html: LIST STYLES */
.li-topic {  
  list-style-type: upper-roman;
  background-color: rgb(173,255,47);
}
.li-items { 
  background-color: rgb(152,251,152); 
  list-style-type: lower-roman;
}

/* page2.html: TABLE STYLES */
.page2-table {
  font-family: serif;
  
}
#page2-tbl-head {
  background-color: black;
  color: white;
  font-family: serif;
  font-size: 1.5em;
}
#col-cells, #col-titles {
  background-color: rgb(173, 255, 47);
  color: blue;
  font-family: serif;
  font-size: 1.5em;
  font-weight: 700;
}
#attribute-list > *, #element-list > * { color: salmon; }
#left-col:hover, #right-col:hover { background-color: rgb(173, 255, 47); }
