html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-weight: 500;
  color: floralwhite;
}
body {
  background-image: url(imgs/turq-bg.jpg);
  background-size: 100%;
}

/* GLOBAL: BORDERS, LINKS, BUTTONS STYLES */
header, nav, main, footer { border: 1px solid salmon; }
a { color: salmon; }
a:hover { color: turquoise; }
button { margin: 1em; }


/* GRID AREA NAMES */
.header-card { grid-area: header; }
.nav-card { grid-area: nav; }
.main-card { grid-area: main; }
.right-margin { grid-area: right; }
.footer-card { grid-area: footer; }

/* GRID LAYOUT */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header'
    'nav main main main main'
    'nav main main main main'
    'footer footer footer footer footer';
  column-gap: 1em;
  row-gap: 1em;
}

/* GLOBAL: HEADER STYLES */
.header-card {
  color: white;
  background-image: url(imgs/citylights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

/* GLOBAL: FOOTER STYLES */
.footer-card {
  background-color: teal;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* GLOBAL: MAIN & NAV STYLES */
.main-card {
  background-color: teal;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.nav-card {
  background-color: teal;
}
/* page1: LIST STYLES */
.outline-level1 { list-style-type: upper-roman; }
.outline-level2 { list-style-type: lower-roman; }

/* page2: TABLE STYLES */
table, th, td {
  border: 1px solid white;
  padding: 1em;
}